{% extends "base_generic.html" %}
{% block content %}
<div class="row text-center" style="height: 3vh;background-color: #94003a;">
    <div class="col-md-4">
        <input id="comp_search_word" type="text" name="Search">
        <button id="search_companies" type="button" aria-label="Left Align">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-4">
        <input id="prod_search_word" type="text" name="Search">
        <button id="search_products" type="button" aria-label="Left Align">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-4">
        <button>Checkout<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="compList" style="background-color: rgba(241,109,27,0.5); height: 90vh; overflow: scroll;">
        <div class="list-group">
<!--           <button type="button" class="list-group-item list-group-item-action active">
            Cras justo odio
          </button>
          <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button> -->
        </div>
    </div>
    <div class="col-md-4" style="background-color: rgba(247,166,27,0.5); height: 90vh;overflow: scroll;">
        <ul id="prodList" class="list-group">
            <!-- <li class="list-group-item justify-content-between">
                Morbi leo risus
                <span class="badge badge-default badge-pill">1</span>
            </li> -->
        </ul>        
    </div>
    <div class="col-md-4" style="background-color: rgba(172,293,40,0.5); height: 90vh;overflow: scroll;">
        <ul id="orderList" class="list-group">
        </ul>
    </div>
</div>
{% endblock %}